{% extends 'common/layout.html' %} {% block body %}
{% include "common/navbar.html" %}

<main>
  <form
  method="post"
  enctype="multipart/form-data"
  class="mt-5 mx-auto"
  style="width: 50%"
  action="{% if choosenBook %} /edit/{{choosenBook.id}}/ {% else %} /add {% endif %}"
>
{% csrf_token %}
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form6Example1">Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          value={% if choosenBook %} {{choosenBook.name}} {% else %} "" {% endif %}
        />
      </div>
    </div>
  </div>

  <div class="form-outline">
    <label class="form-label" for="form6Example1">Price</label>
    <input
      type="number"
      name="price"
      class="form-control"
      value={% if choosenBook %} {{choosenBook.price}} {% else %} 0 {% endif %}
    />
  </div>

  <div class="form-outline">
    <label class="form-label" for="form6Example1">Description</label>
    <input
      type="text"
      name="description"
      class="form-control"
      value="{% if choosenBook %} {{choosenBook.description}} {% else %} "" {% endif %}"
    />
  </div>

  <div class="form-outline">
    <label class="form-label" for="form6Example1">Image</label>

    <div class="d-flex justify-content-start">

      {% if choosenBook %}
      <img
      src="/home/media/{{choosenBook.image}}"
      class="img"
      style="width: 200px; height: 200px"
    />
      {% endif %}   

      <input type="file" name="image" class="form-control " />
    </div>
  </div>

  <button  type="submit" class="btn btn-primary btn-block mt-4">
    {% if choosenBook %} Sửa {% else %} Thêm {% endif %}
  </button>
</form>


</main>

{% endblock body %}
