{% extends 'Templates/common/layout.html' %} {% block body%}

{% include "Templates/common/navbar.html" %}
<main class="text-center">
  <section id="list-books">
    <div class="table-responsive-md">
      <table class="table table-hover align-middle">
        <thead class="table-primary">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Chức năng</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books_list %}
          <tr class="table-secondary">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.description}}</td>
            <td>
              <img
                src="/img/{{book.image}}"
                class="img"
                style="width: 50px; height: 80px"
              />
            </td>
            <td>
              <a class="btn btn-sm btn-success" href="/detail/{{book.id}}"
                >Chi tiết</a
              >
              <a href="/bookForm/{{book.id}}" class="btn btn-sm btn-warning"
                >Sửa</a
              >
              <a class="btn btn-sm btn-danger" href="/delete/{{book.id}}">Xóa</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <a href="/bookForm" class="btn btn-lg btn-success" style="text-align: center"
    >Thêm sản phẩm sách</a
  >
</main>
<footer></footer>

{% endblock %}
