{% extends 'Templates/common/layout.html' %} {% block body %} 
{%include 'Templates/common/navbar.html' %}

<!--Carousel Wrapper-->
<div
  id="carousel-example-1z"
  class="carousel slide carousel-fade pt-4"
  data-ride="carousel"
>
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li
      data-target="#carousel-example-1z"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <div
        class="view"
        style="
          background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <!-- Mask & flexbox options-->
        <div
          class="mask rgba-black-strong d-flex justify-content-center align-items-center"
        >
          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
              <strong>Chào mừng đến với chúng tôi!</strong>
            </h1>

            <p>
              <strong>Chào mừng đến với chúng tôi!</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
              <strong>Chào mừng đến với chúng tôi!</strong>
            </p>

            <a target="_blank" href="#" class="btn btn-outline-white btn-lg"
              >Chào mừng đến với chúng tôi!
              <i class="fas fa-graduation-cap ml-2"></i>
            </a>
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
    </div>
    <!--/First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div
        class="view"
        style="
          background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <!-- Mask & flexbox options-->
        <div
          class="mask rgba-black-strong d-flex justify-content-center align-items-center"
        >
          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
              <strong>Chào mừng đến với chúng tôi!</strong>
            </h1>

            <p>
              <strong>Chào mừng đến với chúng tôi!</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
              <strong>Chào mừng đến với chúng tôi!</strong>
            </p>

            <a
              target="_blank"
              href="https://mdbootstrap.com/education/bootstrap/"
              class="btn btn-outline-white btn-lg"
              >Chào mừng đến với chúng tôi!
              <i class="fas fa-graduation-cap ml-2"></i>
            </a>
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
    </div>
    <!--/Second slide-->

    <!--Third slide-->
    <div class="carousel-item">
      <div
        class="view"
        style="
          background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <!-- Mask & flexbox options-->
        <div
          class="mask rgba-black-strong d-flex justify-content-center align-items-center"
        >
          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="mb-4">
              <strong>Chào mừng đến với chúng tôi!</strong>
            </h1>

            <p>
              <strong>Chào mừng đến với chúng tôi!</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
              <strong>Chào mừng đến với chúng tôi!</strong>
            </p>

            <a
              target="_blank"
              href="https://mdbootstrap.com/education/bootstrap/"
              class="btn btn-outline-white btn-lg"
              >Chào mừng đến với chúng tôi!
              <i class="fas fa-graduation-cap ml-2"></i>
            </a>
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
      </div>
    </div>
    <!--/Third slide-->
  </div>
  <!--/.Slides-->

  <!--Controls-->
  <a
    class="carousel-control-prev"
    href="#carousel-example-1z"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel-example-1z"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<main>
  <div class="container">
    <div class="row mt-3">
      <div class="col-6">
        <form action="/search_name" method="POST">
          {% csrf_token %}
          <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
              <button type="submit" class="btn-sm btn-outline-success">
                Search
              </button>
            </div>
            <input
              name="name"
              class="form-control my-0 py-1"
              type="text"
              placeholder="Tìm sản phẩm mong muốn!"
              aria-label="Search"
            />
          </div>
        </form>
      </div>
      <div class="col-6">
        <form action="/search_cate" method="POST">
          {% csrf_token %}
          <div class="input-group md-form form-sm form-1 pl-0">
            <select name="category" class="browser-default custom-select">
              <option value="all" selected>Tất cả</option>
              <option value="books">Books</option>
              <option value="Laptop">Laptop</option>
              <option value="clothes">Clothes</option>
            </select>
            <div class="input-group-prepend">
              <button class="btn-sm btn-outline-success">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <section class="text-center mb-4 mt-4">
      <div class="row wow fadeIn">
        {% for product in page.object_list %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div>
              <div class="view overlay">
                <img
                  src="/img/{{product.image}}"
                  class="card-img-top"
                  style="width: 250px; height: 250px"
                  alt=""
                />

                <div class="mask rgba-white-slight"></div>
              </div>
              <div class="card-body text-center">
                <span class="grey-text">
                  <h5>{{product.name}}</h5>
                </span>
                <h5>
                  <strong>
                    <span class="dark-grey-text"
                      >{{product.description}}
                      <span class="badge badge-pill danger-color">NEW</span>
                    </span>
                  </strong>
                </h5>
                <h4 class="font-weight-bold blue-text">
                  <strong>{{product.price}}</strong>
                </h4>
              </div>
            </div>

            <div>
              <a
                href="/details/{{product.id}}/?category={{product.category}}"
                class="btn btn-outline-primary btn-sm"
                >Detail</a
              >
              <a
                href="/addToCart/{{product.id}}?category={{product.category}}"
                class="btn btn-outline-success btn-sm"
               
                >Add to Cart</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <!--Pagination-->
    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">
        <!--Arrow left-->

        {% if page.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="{% if request.session.category %}/products/{{request.session.category}}?page={{page.previous_page_number}}{% else %}/products/all?page={{page.previous_page_number }}{% endif %}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %} {% for i in pages %}
        <li class="page-item {% if page_number == i %} active {% endif %}">
          <a
            class="page-link"
            href="{% if request.session.category %}/products/{{request.session.category}}?page={{i}} {% else %} /products/all?page={{i}} {% endif %}"
            >{{i}}</a
          >
        </li>
        {% endfor %} {% if page.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="{% if request.session.category %}/products/{{request.session.category}}?page={{page.next_page_number}} {% else %} /products/all?page={{page.next_page_number}} {% endif %}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <!--Pagination-->
  </div>
</main>

{% include 'Templates/common/footer.html' %} {% endblock body %}
