<header>
  <nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar fixed-top">
    <div class="container">
      <!-- Brand -->
      <a
        class="navbar-brand waves-effect"
        href="/?page=1"
        target="_blank"
      >
        <strong class="blue-text">Khoa koha</strong>
      </a>

      <!-- Collapse -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/?page=1"
              >Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a
              class="nav-link waves-effect"
              href="#"
             
              >Order</a
            >
          </li>
        
          {% for group in request.user.groups.all %} {% if 'admin' == group.name %}
          <li class="nav-item">
            <a
              class="nav-link waves-effect"
              href="/admin/books"
           
              >Quản lý sản phẩm</a
            >
          </li>

          {% else %}

          <li class="nav-item">
            <a
              class="nav-link waves-effect"
              href="/userinfo"
             
              >Thông tin cá nhân</a
            >
          </li>
          {% endif %} {% endfor %}

          <li class="nav-item">
            <a
              class="nav-link waves-effect"
              href="/logout"
              
              >Đăng xuất</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link waves-effect"
              href="/login"
              
              >Đăng nhập</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link waves-effect"
              href="/register"
              
              >Đăng ký</a
            >
          </li>
          {% endif %}
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/cart">
              {% if "count" in request.session %}
              <span class="badge red z-depth-1 mr-1">{{ request.session.count }}</span>
              {% endif %}
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#"
              class="nav-link waves-effect"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#"
              class="nav-link waves-effect"
              target="_blank"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% if messages %} {% for message in messages %}
  <div
    class="mt-5 alert alert-{{message.tags}} alert-dismissible fade show"
    role="alert"
  >
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %} {% endif %}
</header>
